%%IMPORT%%

@Composable
fun %%NAME%%Screen(navController: NavHostController, modifier: Modifier = Modifier) {
    %%CONTENT%%
}

@Preview
@Composable
fun %%NAME%%ScreenPreview() {
    CupcakeTheme {
        %%NAME%%Screen(
                navController = rememberNavController(),
                modifier = Modifier.fillMaxSize().padding(dimensionResource(R.dimen.padding_medium))
        )
    }
}
